.activity-detail-header {
    display: flex;
    justify-content: space-between;
}

.activity-title {
    display: flex;
    align-items: center;
    gap: 19px;
}

.back {
    background-image: url(/src/assets/img/back.svg);
    display: block;
    height: 32px;
    width: 32px;
}

.activity-detail-name {
    font-size: 36px;
    font-weight: 700;
}

.activity-title input[type=text] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    height: 54px;
}

.activity-title input:focus {
    outline:none;
}

.edit {
    background-image: url(/src/assets/img/edit.svg);
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
}

.item-list-option {
    display: flex;
    align-items: center;
    gap: 18px;
}

.sort {
    background-image: url(/src/assets/img/sort.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: #888;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
    padding: 26px;
}

.activity-detail-header button {
    background: #16ABF8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.plus {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(/src/assets/img/plus.svg);
}

.item-list {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 28px;
    margin: 10px 0;
}

.item-list-edit {
    display: flex;
    align-items: center;
}

.item-list-edit .priority-indicator {
    height: 9px;
    width: 9px;
}

.item-list-edit .done {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 22px;
}

.item-list-edit h1 {
    font-size: 18px;
    font-weight: 500;
    margin-right: 16px;
}

.item-list-edit .line-through {
    color: #888888;
    text-decoration: line-through;
}

.item-list .trash {
    cursor: pointer;
}

.item-list-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.item-list-empty-state img {
    height: 413px;
    width: 541px;
}