main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1000px;
    min-height: calc(100vh - 105px);
    padding: 43px 0 150px 0;
    gap: 50px;
}

.activity-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.activity-header span {
    font-size: 2.25rem;
    font-weight: 700;
}

.activity-header button {
    background: #16ABF8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.activity-header .plus {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    background-image: url(/src/assets/img/plus.svg);
}

.activity-header button:hover {
    cursor: pointer;
}

.activity-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.activity-empty-state img {
    width: 90%;
}