main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 12px;
    height: calc(100vh - 105px);
    padding: 43px 0 0 0;
    gap: 50px;
}

.activity {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.activity span {
    font-size: 2.25rem;
    font-weight: 700;
}

.activity button {
    background: #16ABF8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.activity .plus {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    background-image: url(/src/assets/img/plus.svg);
}

/* .activity .plus::after {
    content: "";
    display: block;
    position: absolute;
    height: 24px;
    width: 2px;
    background-color: white;
    left: 45%;
}

.activity .plus::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: white;
    top: 45%;
} */

.activity button:hover {
    cursor: pointer;
}

.activity-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.activity-empty-state img {
    width: 90%;
}