@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(244, 244, 244);
}

button {
    border-radius: 45px;
    border-width: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 13.5px 29px;
}